<div id="header" ng-controller="InfoController" class="col-xs-12">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Spring Music <span class="glyphicon glyphicon-music"></span></a>
                <ul class="navbar-nav">
                    <!--<li></li>-->
                </ul>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-info-sign icon-white"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a><strong>Profiles:</strong> {{info.profiles.join()}}</a></li>
                        <li><a><strong>Services:</strong> {{info.services.join()}}</a></li>
                        <li><a><strong>Message:</strong> {{info.message}}</a></li>
                        <li><a><strong>Environment:</strong> {{info.environment}}</a></li>
                        <li><a><strong>SMTP Server:</strong> {{info.smtpServer}}</a></li>
                        <li><a><strong>SMTP User:</strong> {{info.smtpUser}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
